.el-row {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}

.demonstration, .el-form-item__label {
    font-size: 16px !important;
    color: #8492a6 !important;
    line-height: 44px !important;
}

/*.el-form-item {
    margin-bottom: 10px !important;
}*/

.el-select, .el-input-number {
    display: block !important;
}

body, html {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    font-weight: 400;    
}